force-app/main/default/flows/Contract_Designation_FSO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Decide_Contract</name>
        <label>Decide Contract</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DTC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Business_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DTC Main</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project.Business_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DTC Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Designate_Contract</targetReference>
            </connector>
            <label>DTC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract Designation FSO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Designation FSO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Designate_Contract</name>
        <label>Designate Contract</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <stringValue>DTC V3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>FSO__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
