force-app/main/default/flows/DTC_New_System_FT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>DTC New System - FT Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DTC New System - FT Flow</label>
    <loops>
        <name>Create_Contact_Systems</name>
        <label>Create Contact-Systems</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_System_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Contact_System</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_System</name>
        <label>Create Contact-System</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Contact_Systems</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DTC_System__c</field>
            <value>
                <elementReference>Create_Contact_Systems.DTC_System__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DTC_System_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_System_Projects</name>
        <label>Get System-Projects</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Systems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Functional_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Functional_Team__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DTC_System_FT__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DTC_System__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Projects</targetReference>
        </connector>
        <object>Functional_Team_Contact__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
