force-app/main/default/flows/FSO_Data_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FeedbackNameSubject</name>
        <dataType>String</dataType>
        <expression>Feedback +&quot; &quot; + {!Get_FSO_Record.Employee__r.Name}</expression>
    </formulas>
    <interviewLabel>FSO Data Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSO Data Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FSO_Record</name>
        <label>Get FSO Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PIV_GFE_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FSO_Name_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PIV_GFE_Information</name>
        <label>Update PIV and GFE Information</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FSO_Record.Employee__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GFE_Location__c</field>
            <value>
                <elementReference>GFE_Pickup_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GFE_Make_Model__c</field>
            <value>
                <elementReference>GFE_Make_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GFE_Property_Number__c</field>
            <value>
                <elementReference>GFEProperty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GFE_Serial_Number__c</field>
            <value>
                <elementReference>GFE_Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HIPAA_Training__c</field>
            <value>
                <elementReference>HIPAA_Training_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PISA_Training_Complete__c</field>
            <value>
                <elementReference>PISA_Training_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIV_Agency_Serial_Number__c</field>
            <value>
                <elementReference>PIVAgencySerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIV_Badging_Location__c</field>
            <value>
                <elementReference>PIV_Badging_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIV_Expiration_Date__c</field>
            <value>
                <elementReference>PIV_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PIV_IID__c</field>
            <value>
                <elementReference>PIV_IID</elementReference>
            </value>
        </inputAssignments>
        <object>FSO__c</object>
    </recordUpdates>
    <screens>
        <name>Contact_Collection</name>
        <label>Contact Collection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_FSO_Record</targetReference>
        </connector>
        <fields>
            <name>NameLookupHelptext</name>
            <fieldText>&lt;p&gt;Please look up your name and select from the dropdown menu.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FSO_Name_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>FSO__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Thank You!</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PIV_GFE_Collection</name>
        <label>PIV &amp; GFE Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_PIV_GFE_Information</targetReference>
        </connector>
        <fields>
            <name>PIV_IID</name>
            <dataType>String</dataType>
            <fieldText>PIV IID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the number on the lower right side of your PIV. It may start with the letters &quot;MSOPIV&quot; and is the shorter of the two numbers.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PIVAgencySerialNumber</name>
            <dataType>String</dataType>
            <fieldText>PIV Agency Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the number on the lower left of the PIV card. It is the longer of the two numbers.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PIV_Badging_Location</name>
            <dataType>String</dataType>
            <fieldText>PIV Badging Location</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please provide the name of the office where you received your PIV. This does not have to be a complete address. For example, &quot;Washington DC, VACO&quot; is acceptable.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PIV_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>PIV Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Date of PIV Expiration. This will be on the front of the PIV.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GFE_Make_Model</name>
            <dataType>String</dataType>
            <fieldText>GFE Make/ Model</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This information will be visible on a sticker on the front or back of your GFE. For example &quot;HP EliteBook&quot;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GFE_Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>GFE Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This number will appear either under a GFE barcode sticker or on the back with a &quot;Serial Number&quot; or &quot;S/N&quot; label.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GFEProperty</name>
            <dataType>String</dataType>
            <fieldText>GFE Property Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This number will appear alongside the Serial Number and will not have a special label.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GFE_Pickup_Location</name>
            <dataType>String</dataType>
            <fieldText>GFE Pickup Location</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is the location where you received, and are anticipating on returning your GFE. As with PIV Badging Location, the name of the location is acceptable.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HIPAA_Training_Complete</name>
            <dataType>Date</dataType>
            <fieldText>HIPAA (Privacy and HIPAA) Training Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PISA_Training_Complete</name>
            <dataType>Date</dataType>
            <fieldText>PISA (VA Privacy and Information Security Awareness) Training Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Collection</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
</Flow>
