force-app/main/default/flows/GSA_Fact_Table_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Actual</name>
        <choiceText>Actual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Actual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Budget</name>
        <choiceText>Budget</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Budget</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Multiple_Divisible_Period_Records</name>
        <choiceText>Create Multiple Divisible Period Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Multiple Divisible Period Records</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Multiple_Period_Records</name>
        <choiceText>Create Multiple Period Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Multiple Period Records</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Single_Period_Record</name>
        <choiceText>Create Single Period Record</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Forecast</name>
        <choiceText>Forecast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forecast</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Decision_Choices</name>
        <label>Action Decision Choices</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Record_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Single_Period_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Screen_Single_Record</targetReference>
            </connector>
            <label>Single Record Choice</label>
        </rules>
        <rules>
            <name>Multiple_Records_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Multiple_Period_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Screen_Multiple_Records</targetReference>
            </connector>
            <label>Multiple Records Choice</label>
        </rules>
        <rules>
            <name>Multiple_Divisible_Records_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Multiple_Divisible_Period_Records</elementReference>
                </rightValue>
            </conditions>
            <label>Multiple Divisible Records Choice</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contact_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSA_Fact_Table_Period_Designation_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Period_Designation__c</picklistField>
        <picklistObject>GSA_Fact_Table__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GSA Fact Table Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GSA Fact Table Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_GSA_Fact_Record</name>
        <label>Create New GSA Fact Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Select_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_CLIN__c</field>
            <value>
                <elementReference>Select_GSA_CLIN.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_Finance_Type__c</field>
            <value>
                <elementReference>Select_GSA_Finance_Type.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_Period__c</field>
            <value>
                <elementReference>Get_Corresponding_Period_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_Project__c</field>
            <value>
                <elementReference>Select_GSA_Project.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_Task__c</field>
            <value>
                <elementReference>Select_GSA_Task.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSA_Unit_of_Work__c</field>
            <value>
                <elementReference>Get_Corresponding_Unit_of_Work.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GSA_Fact_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Corresponding_Period_Record</name>
        <label>Get Corresponding Period Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_GSA_Fact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GSA_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corresponding_Unit_of_Work</name>
        <label>Get Corresponding Unit of Work</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Corresponding_Period_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit_of_Work__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Units_of_Work</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GSA_Unit_of_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Decision_Screen</name>
        <label>Decision Screen</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Decision_Choices</targetReference>
        </connector>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>Create_Single_Period_Record</choiceReferences>
            <choiceReferences>Create_Multiple_Period_Records</choiceReferences>
            <choiceReferences>Create_Multiple_Divisible_Period_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen_Multiple_Records</name>
        <label>Initial Screen Multiple Records</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Initial_Screen_Multiple_Records_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Multiple_Records_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Select_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Select Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Select_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Select End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_Period_Designation</name>
                    <choiceReferences>GSA_Fact_Table_Period_Designation_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Period Designation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_Units_of_Work</name>
                    <dataType>Number</dataType>
                    <fieldText>Units of Work</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Multiple_Records_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Select_GSA_Project</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_GSA_Functional_Role</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Functional_Role__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Functional Role</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Project_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_GSA_CLIN</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA CLIN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_CLIN__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_GSA_Finance_Type</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Finance_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Finance Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Select_GSA_Task</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Task__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen_Single_Record</name>
        <label>Initial Screen Single Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Corresponding_Unit_of_Work</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Single_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Single_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Select_Period_Designation</name>
                    <choiceReferences>GSA_Fact_Table_Period_Designation_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Period Designation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Select_Units_of_Work</name>
                    <dataType>Number</dataType>
                    <fieldText>Units of Work</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Select_GSA_Project</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Single_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_GSA_Functional_Role</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Functional_Role__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Functional Role</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Project_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_GSA_CLIN</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA CLIN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_CLIN__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_GSA_Finance_Type</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Finance_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Finance Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_GSA_Task</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GSA_Fact_Table__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GSA_Task__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select GSA Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
