force-app/main/default/flows/Project_Transfer_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Offboard_Email</name>
        <label>Send Offboard Email</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OffboardEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>alexander.abrosimov@octo.us, lindsay.mullen@octo.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Offboard Test</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Email</name>
        <label>Transfer Email</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TransferEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lindsay.mullen@octo.us, alexander.abrosimov@octo.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project Resource Transfer Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Transfer_wo_Remove_Email</name>
        <label>Transfer wo Remove Email</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TransferwoRemovingEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>alexander.abrosimov@octo.us, lindsay.mullen@octo.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project Addition Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Add_resource_to_a_new_project_and_remove_from_the_current_project</name>
        <choiceText>Add resource to a new project and remove from the current project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add resource to a new project and remove from the current project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_resource_to_a_new_project_without_removing_from_the_current_project</name>
        <choiceText>Add resource to a new project without removing from the current project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add resource to a new project without removing from the current project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offboard_completely</name>
        <choiceText>Offboard completely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offboard completely</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Transfer</name>
        <label>Decision Transfer</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_resource_to_a_new_project_and_remove_from_the_current_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Project_Lookup</targetReference>
            </connector>
            <label>Transfer Resource</label>
        </rules>
        <rules>
            <name>Add_Resource_w_o_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_resource_to_a_new_project_without_removing_from_the_current_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Project_Lookup</targetReference>
            </connector>
            <label>Add Resource w/o Transfer</label>
        </rules>
        <rules>
            <name>Offboard_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offboard_completely</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Current_Project_Lookup</targetReference>
            </connector>
            <label>Offboard Resource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewName</name>
        <dataType>String</dataType>
        <expression>{!Contact.recordName} + {!NewProjectName.recordName}</expression>
    </formulas>
    <formulas>
        <name>NewName1</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_Contact.recordName} + &quot; &quot; + {!NewProjectName_2.recordName}</expression>
    </formulas>
    <formulas>
        <name>OffboardEmailText</name>
        <dataType>String</dataType>
        <expression>&quot;The Resource &quot; &amp; {!Copy_2_of_Contact.recordName} &amp; &quot; is ready to offboard.&quot;</expression>
    </formulas>
    <interviewLabel>Project Transfer Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Transfer Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_2_of_Current_Project_Lookup</name>
        <label>Copy 2 of Current Project Lookup</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Offboard_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_CurrentProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Offboard</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Project_Lookup</name>
        <label>Current Project Lookup</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Email</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CurrentProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewProjectName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LCAT_1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Labor_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>DTC Labor Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Project_Lookup</name>
        <label>New Project Lookup</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_wo_Remove_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewProjectName_2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Add to New Project</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Transfer_Flow</name>
        <label>Project Transfer Flow</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Transfer</targetReference>
        </connector>
        <fields>
            <name>Action_Choice</name>
            <choiceReferences>Add_resource_to_a_new_project_without_removing_from_the_current_project</choiceReferences>
            <choiceReferences>Add_resource_to_a_new_project_and_remove_from_the_current_project</choiceReferences>
            <choiceReferences>Offboard_completely</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which action would you like to perform?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Transfer_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TransferEmailText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please transfer {!Contact.recordName} from {!CurrentProject.recordName} to {!NewProjectName.recordName} on the effective date: {!Effective_Date}. The Labor Category is {!LCAT_1.recordName}. Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TransferwoRemovingEmailText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This is a request to add {!Copy_1_of_Contact.recordName} onto Project: {!NewProjectName_2.recordName} without removing from the current project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DeleteOldPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>alexander.abrosimov@octo.us</stringValue>
        </value>
    </variables>
    <variables>
        <name>FSOOffboardPhase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSO__c</objectType>
    </variables>
    <variables>
        <name>GetCurrentPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>OldProjectContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
</Flow>
