force-app/main/default/flows/Project_Transfer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Add_resource_to_a_new_project_and_remove_from_the_current_project</name>
        <choiceText>Add resource to a new project and remove from the current project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add resource to a new project and remove from the current project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_resource_to_a_new_project_without_removing_from_the_current_project</name>
        <choiceText>Add resource to a new project without removing from the current project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add resource to a new project without removing from the current project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offboard_completely</name>
        <choiceText>Offboard completely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offboard completely</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Transfer</name>
        <label>Decision Transfer</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_resource_to_a_new_project_and_remove_from_the_current_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Project_Lookup</targetReference>
            </connector>
            <label>Transfer Resource</label>
        </rules>
        <rules>
            <name>Add_Resource_w_o_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_resource_to_a_new_project_without_removing_from_the_current_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Project_Lookup</targetReference>
            </connector>
            <label>Add Resource w/o Transfer</label>
        </rules>
        <rules>
            <name>Offboard_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offboard_completely</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Action_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Current_Project_Lookup</targetReference>
            </connector>
            <label>Offboard Resource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewName</name>
        <dataType>String</dataType>
        <expression>{!Contact.recordName} + {!NewProjectName.recordName}</expression>
    </formulas>
    <formulas>
        <name>NewName1</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_Contact.recordName} + &quot; &quot; + {!NewProjectName_2.recordName}</expression>
    </formulas>
    <interviewLabel>Project Transfer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Transfer Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_New_Person</name>
        <label>Copy 1 of Create New Person</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Copy_1_of_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewName1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>NewProjectName_2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Person</name>
        <label>Create New Person</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Successful_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>NewProjectName.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_Delete_Old_Project_Contact_Record</name>
        <label>Copy 1 of Delete Old Project Contact Record</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Offboard_Phase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_CurrentProject.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Contact.recordId</elementReference>
            </value>
        </filters>
        <object>Project_Contact__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Project_Contact_Record</name>
        <label>Delete Old Project Contact Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_New_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProject.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </filters>
        <object>Project_Contact__c</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Offboard_Phase</name>
        <label>Update Offboard Phase</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Contact.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Phase__c</field>
            <value>
                <stringValue>Offboarding</stringValue>
            </value>
        </inputAssignments>
        <object>FSO__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_2_of_Current_Project_Lookup</name>
        <label>Copy 2 of Current Project Lookup</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Delete_Old_Project_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_CurrentProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Offboard</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Project_Lookup</name>
        <label>Current Project Lookup</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Old_Project_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CurrentProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewProjectName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Project_Lookup</name>
        <label>New Project Lookup</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_New_Person</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewProjectName_2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Project Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Add to New Project</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Transfer_Flow</name>
        <label>Project Transfer Flow</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Transfer</targetReference>
        </connector>
        <fields>
            <name>Action_Choice</name>
            <choiceReferences>Add_resource_to_a_new_project_without_removing_from_the_current_project</choiceReferences>
            <choiceReferences>Add_resource_to_a_new_project_and_remove_from_the_current_project</choiceReferences>
            <choiceReferences>Offboard_completely</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which action would you like to perform?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_Transfer</name>
        <label>Successful Transfer</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;The resource has been successfully transfered to their new project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Transfer_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeleteOldPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>FSOOffboardPhase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSO__c</objectType>
    </variables>
    <variables>
        <name>GetCurrentPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
    <variables>
        <name>OldProjectContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Contact__c</objectType>
    </variables>
</Flow>
